* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;

    align-items: center;

    background: url("../IMG/fondo.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}

.container {

    display: flex;

}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}

.info {
    float: left;
    height: auto;
    width: 50%;
   
}

.canvas {
    touch-action: none;
    float: left;
    width: 50%;
    display: grid;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.canvas h2 {
    color: white;
    position: relative;
    
}

label {
    font-size: 2em;
}


.table {
    width: 95%;
    font-size: 2em;
    --bs-table-bg: transparent !important;
    --bs-table-color: #fff !important;
}

.table-primary {
    --bs-table-bg: transparent !important;

}

#paint {
    margin-top: 1%;
    border: 2px solid white;
    background-color: black;
    animation: animateBg 5s linear infinite;
}

.info h2,
label,
.table {
    color: white;
    margin-bottom: 10%;
}

#theInput {
    position: flex;
    width: 40%;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 7px;
    outline: none;
    font-size: 1.5em;
    color: #fff;
    margin-left: 10%;
}



.table-hover tr:hover th,
.table-hover tr:hover td {
    background-color: rgb(254, 152, 152);
}

.buttom:hover,
.draw:hover{
    height: 45px;
    background-color: blue !important;
    color: red !important;
    font-size: 1.2em;
}

.draw {
    position: flex;
    width: 90%;
    height: 90%;
    background: rgba(255, 255, 255, .5);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: red;
    font-weight: 500;
    transition: all .3s;
    animation: animateBg 5s linear infinite;
}


.crud {
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.upt {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;
    width: 30%;
}


.buttom {
    position: absolute;
    width: 200px;
    height: 40px;
    margin-left: 2%;
    background: rgba(255, 255, 255, .5);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: all .3s;
    animation: animateBg 5s linear infinite;
}

.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 21%;
    width: 100%;
    height: 160px;
  
}

.table-wrapper #addB {
    width: 70%;
}

.table-wrapper>table {
    position: relative;
    top: 15%;
}

.nuevo {
    background: transparent;
    border-radius: 7px;
    border: 2px solid white;
    outline: none;
    color: #fff;

}

.cord {
    width: 110px;
    height: 50px;
}

.invisible {
    display: none;
}